<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>E-Mail bestätigt!</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p>Danke, dass du deine E-Mail bestätigt hast, <span th:text="${user.firstName}"></span><br></p>
<p>Viel Spaß auf unserer Webseite, wir sehen uns im Kino!</p>
<br>
<p>
    Mit freundlichen Grüßen, <br/>
    &emsp; <em>Dein Cineverse Team</em>
</p>
<img alt="Cinema Logo" src="cid:logo.ico"/>
</body>
</html>